%h1 Listing ngos
%table
  %tr
    %th Name
    %th Address line1
    %th Address line2
    %th City
    %th State
    %th Country
    %th Pincode
    %th Registration date
    %th Registration number
    %th Domain
    %th Contact number
    %th Website
    %th Email
    %th Password
    %th
    %th
    %th
  - @ngos.each do |ngo|
    %tr
      %td= ngo.name
      %td= ngo.address_line1
      %td= ngo.address_line2
      %td= ngo.city
      %td= ngo.state
      %td= ngo.country
      %td= ngo.pincode
      %td= ngo.registration_date
      %td= ngo.registration_number
      %td= ngo.domain_id
      %td= ngo.contact_number
      %td= ngo.website
      %td= ngo.email
      %td= ngo.password
      %td= link_to 'Show', ngo
      %td= link_to 'Edit', edit_ngo_path(ngo)
      %td= link_to 'Destroy', ngo, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Ngo', new_ngo_path
