%p#notice= notice
%p
  %b Name:
  = @ngo.name
%p
  %b Address line1:
  = @ngo.address_line1
%p
  %b Address line2:
  = @ngo.address_line2
%p
  %b City:
  = @ngo.city
%p
  %b State:
  = @ngo.state
%p
  %b Country:
  = @ngo.country
%p
  %b Pincode:
  = @ngo.pincode
%p
  %b Registration date:
  = @ngo.registration_date
%p
  %b Registration number:
  = @ngo.registration_number
%p
  %b Domain:
  = @ngo.domain_id
%p
  %b Contact number:
  = @ngo.contact_number
%p
  %b Website:
  = @ngo.website
%p
  %b Email:
  = @ngo.email
%p
  %b Password:
  = @ngo.password
= link_to 'Edit', edit_ngo_path(@ngo)
|
= link_to 'Back', ngos_path
