<h1>Listing ng_orgs</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address line1</th>
    <th>Address line2</th>
    <th>City</th>
    <th>State</th>
    <th>Country</th>
    <th>Registration date</th>
    <th>Registration number</th>
    <th>Domain</th>
    <th>Mobile</th>
    <th>Email</th>
    <th>Password</th>
    <th>Website</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ng_orgs.each do |ng_org| %>
  <tr>
    <td><%= ng_org.name %></td>
    <td><%= ng_org.address_line1 %></td>
    <td><%= ng_org.address_line2 %></td>
    <td><%= ng_org.city %></td>
    <td><%= ng_org.state %></td>
    <td><%= ng_org.country %></td>
    <td><%= ng_org.registration_date %></td>
    <td><%= ng_org.registration_number %></td>
    <td><%= ng_org.domain %></td>
    <td><%= ng_org.mobile %></td>
    <td><%= ng_org.email %></td>
    <td><%= ng_org.password %></td>
    <td><%= ng_org.website %></td>
    <td><%= link_to 'Show', ng_org %></td>
    <td><%= link_to 'Edit', edit_ng_org_path(ng_org) %></td>
    <td><%= link_to 'Destroy', ng_org, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ng org', new_ng_org_path %>
