<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @ng_org.name %>
</p>

<p>
  <b>Address line1:</b>
  <%= @ng_org.address_line1 %>
</p>

<p>
  <b>Address line2:</b>
  <%= @ng_org.address_line2 %>
</p>

<p>
  <b>City:</b>
  <%= @ng_org.city %>
</p>

<p>
  <b>State:</b>
  <%= @ng_org.state %>
</p>

<p>
  <b>Country:</b>
  <%= @ng_org.country %>
</p>

<p>
  <b>Registration date:</b>
  <%= @ng_org.registration_date %>
</p>

<p>
  <b>Registration number:</b>
  <%= @ng_org.registration_number %>
</p>

<p>
  <b>Domain:</b>
  <%= @ng_org.domain %>
</p>

<p>
  <b>Mobile:</b>
  <%= @ng_org.mobile %>
</p>

<p>
  <b>Email:</b>
  <%= @ng_org.email %>
</p>

<p>
  <b>Password:</b>
  <%= @ng_org.password %>
</p>

<p>
  <b>Website:</b>
  <%= @ng_org.website %>
</p>


<%= link_to 'Edit', edit_ng_org_path(@ng_org) %> |
<%= link_to 'Back', ng_orgs_path %>
